/*-- scss:defaults --*/

// headings
$presentation-h1-font-size: 1.4em;
$presentation-h2-font-size:	1.2em;
$presentation-h3-font-size:	1.0em;
$presentation-h4-font-size: .8em;
$presentation-font-size-root: 32px;
$presentation-font-smaller: .7;
